button{
    background-color: #2549D3;
    border-color: #2549D3;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
}