/* LANDING PAGE STYLINGS */

.landing_page{
    margin-top: 120px;
}
.landing_page .landing_wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.landing_page .landing_wrapper h1{
    font-size: 40px;
    color: #2549D3;
}
.landing_page .landing_wrapper p{
    color: #3a3939;
}
.landing_page .landing_wrapper .img{
    width: 450px;
}
.landing_page .landing_wrapper .img img{
    width: 100%;
}
.landing_page .landing_wrapper .icon_div{
    display: flex;
    gap: 50px;
    align-items: center;
}
.landing_page .landing_wrapper .icon_div img{
    width: 40px;
}

/* SEARCH SECTION STYLINGS */

.search-section .search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0 0 20px 0 grey;
    border-radius: 20px;
    margin: 150px auto;
    width: fit-content;

}
.search-section .search-div .search-item{
    padding: 0 30px;
    text-align: center;
}
.search-section .search-div .drop-icon-div{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-section .search-div .drop-icon-div i{
  color: #2549D3;
}
.search-section .search-div div h4{
    color: #2549D3;
}
.search-section .search-div div p{
    color: #3a3939;
}

/* HOW IT WORKS SECTION STYLINGS*/
.how-it-works{
    margin: 150px 0;
    text-align: center;
}
.how-it-works h1{
    color: #2549D3;
    font-size: 30px;
}
.how-it-works h4{
    margin-bottom: 30px;
}
.how-it-works .card-div{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


/* CHOOSE US SECTION STYLINGS */
.choose_us{
    margin: 150px 0;
}

.choose_us .choose_us_parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.choose_us .choose_us_parent .img{
    width: 450px;
}
.choose_us .choose_us_parent img{
    width: 100%;
}
.choose_us .choose_us_parent h1{
    color: #2549D3;
    font-size: 30px;
}
.choose_us .choose_us_parent h4{
    color: #3a3939;
}
.choose_us .choose_us_parent .icon_parent .icon_div{
    display: flex;
    justify-content: space-between;
}
.choose_us .choose_us_parent .icon_parent .icon_div .icon_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}
.choose_us .choose_us_parent .icon_parent .icon_div .img{
    width: 20px;
}
.choose_us .choose_us_parent .icon_parent .icon_div img{
    width: 100%;
}


/* FEATURED SECTION STYLINGS */
.featured{
    margin: 150px 0;
}
.featured .featured_wrapper h1, 
.featured .featured_wrapper h4{
    text-align: center;
    margin-bottom: 20px;
}
.featured .featured_wrapper h1{
    color: #2549D3;
    font-size: 30px;
}
.featured .featured_wrapper h4{
    color: #3a3939;
}
.featured_cards_wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.featured_cards{
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 2px 0 15px 0 grey;
    padding: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #3a3939;
}
.featured_cards .img{
    width: 250px;
    margin: auto;
}
.featured_cards .img img{
    width: 100%;
}
.featured_cards .card-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.featured .btn-div{
    display: flex;
    justify-content: right;
    margin-right: 100px;
}


/* TESTIMONIAL SECTION STYLINGS */
.testimonial {
    margin: 150px 0;
}
.testimonial h1,
.testimonial .write_up{
    text-align: center;
}
.testimonial h1{
    color: #2549D3;
    font-size: 30px;
}
.testimonial .write_up{
    color: #3a3939;
}
.testimonial .testimonial_parent{
    gap: 30px;
    margin-top: 50px;
}
.testimonial .test_wrapper .test_card{
    width: 330px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #afaeae;
}
.testimonial .test_wrapper .test_card h4{
    color: #3a3939;
}
.testimonial_parent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.testimonial .btn-div{
    display: flex;
    justify-content: right;
    margin-right: 100px;
}


/* MEDIA QUERY */
@media screen and (max-width: 540px){
    
    .search-section .search-div{
       display: none;
    }
     /* featured */
     .featured .btn-div{
        justify-content: center;
        margin-right: 0;
    }

     /* testimonial */
     .testimonial .btn-div{
        justify-content: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 420px){
    
    /* landing page */
    .landing_page .landing_wrapper .img,
    .choose_us .choose_us_parent .img
    {
        width: 350px;
    }
    
    .landing_page .landing_wrapper .img img,
    .choose_us .choose_us_parent .img img
    {
        width: 100%;
    }
    .landing_page .landing_wrapper h1{
        font-size: 35px;
    }

    /* choose us */
    .choose_us .choose_us_parent .write_up{
        margin: auto 20px;
    }
   
}

@media screen and (max-width: 320px){
    .testimonial .test_wrapper .test_card{
        width: 250px;
    }
    .featured_cards{
        width: 250px;
    }
    .landing_page .landing_wrapper .img{
        width: 300px;
    }
    .landing_page .landing_wrapper{
        margin-left: 10px;
    }
    .landing_page .landing_wrapper h1{
        font-size: 30px;
        color: #2549D3;
    }
    
    .choose_us .choose_us_parent .img{
        width: 300px;
    }
    
}