footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #0F298B;
    padding: 50px;
    color: #fff;
    gap: 20px;
}


@media screen and (max-width: 740px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content:left;
    }
}